<div class="collapse navbar-collapse nav" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog:home' %}">خانه</a>
    </li>
    {% for cat in categories %}
      {% if cat.parent == None %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:category' cat.slug %}">{{cat.title}}</a>
        {% if cat.children.active %}
          {% include 'blog/partials/category_loop.html' %}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
    <form class="form-inline mt-3" method="get" action="{% url 'blog:search' %}">
        <input type="text" name="q" class="form-control" placeholder="جستوجو ...">
        <button style="padding: 8px; margin-right: 5px; border-radius: 5px" class="btn btn-success"><i class="fa fa-search"></i></button>
    </form>
</div>
