{% extends "star_ratings/widget_base.html" %}
{% block rating_detail %}

    {% if not user.is_authenticated %}
        <div>
            <small>برای رأی دهی باید ابتدا وارد سایت شوید</small>
        </div>
    {% endif %}

{% endblock %}