<!DOCTYPE html>
<html lang="fa">
<body>
{% autoescape off %}
    سلام {{ user.username }}،
    برای فعالسازی اکانت خود بر روی این لینک کلیک کنید
    http://{{ domain }}{% url 'activate' uid token %}
{% endautoescape %}
</body>
</html>