{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %}حذف مقاله "{{ object }}"{% endblock %}{% endblock %}

{% block main %}
    <!-- left column -->
    <div class="col-md-8 text-center">
        <!-- general form elements -->
        <div class="card card-danger mx-auto">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">مشخصات مقاله</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body py-4">
                <form method="post">{% csrf_token %}
                    <p class="py-2">آیا از حذف پست "{{ object }}"از "{{ object.author.get_full_name }}" اطمینان دارید؟</p>
                    <input class="btn btn-outline-danger w-25" type="submit" value="بله">
                    <a class="btn btn-outline-dark w-25" href="{% url 'account:home' %}">خیر</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}