{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}لیست مقالات{% endblock %}{% endblock %}

{% block main %}
    <div class="row">
          <div class="col-12">
            {% if object_list %}
                <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان مقاله</th>
                      <th>تصویر</th>
                      <th>دسته بندی</th>
                      <th>نویسنده</th>
                      <th>خلاصه</th>
                      <th>تاریخ انتشار</th>
                      <th>مقاله ویژه</th>
                      <th>وضعیت</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for article in object_list %}
                    <tr>
                      <td>
                          {% if article.status in 'db'|make_list or user.is_superuser %}
                            <a href="{% url 'account:article-update' article.pk %}">{{ article.title }}</a>
                              {% else %}
                                {{ article.title }}
                          {% endif %}
                      </td>
                      <td>
                          <img src="{{ article.thumbnail.url }}" width="250" class="img-fluid" alt="{{ article.title }}">
                      </td>
                      <td>{{ article.category_to_str }}</td>
                      <td>{{ article.author.get_full_name }}</td>
                      <td>{{ article.description|striptags|truncatewords:30 }}</td>
                      <td>{{ article.jpublish }}</td>
                      <td>
                          {% if article.is_special %}
                              <i class="fa fa-check-circle" style="color: green;"></i>
                              {% else %}
                                  <i class="fa fa-minus-circle" style="color: red;"></i>
                          {% endif %}
                      </td>
                      <td>
                          {% if article.status == 'p' %}
                            <span class="badge badge-success">منتشر شده</span>
                            <a class="badge badge-primary" target="_blank" href="{% url 'blog:article' article.slug %}">نمایش</a>
                          {% elif article.status == 'i' %}
                            <span class="badge" style="background-color: #26b7c6;color: white;">در حال بررسی</span>
                            {% if user.is_superuser %}
                                <a class="badge badge-secondary" target="_blank" href="{% url 'blog:preview' article.pk %}">پیش نمایش</a>
                            {% endif %}
                          {% else %}
                            {% if article.status == 'd' %}
                              <span class="badge badge-danger">پیش نویس</span>
                            {% else %}
                              <span class="badge badge-warning">برگشت داده شده</span>
                            {% endif %}
                            <a class="badge badge-secondary" target="_blank" href="{% url 'blog:preview' article.pk %}">پیش نمایش</a>
                          {% endif %}
                            {% if user.is_superuser %}
                                <a class="badge text-danger" href="{% url 'account:article-delete' article.pk %}">حذف</a>
                            {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
                <!-- /.card -->
            {% else %}
                <h3>شما هیچ مقاله ای ثبت نکرده اید!</h3>
            {% endif %}
          </div>
        </div>
{% endblock %}