<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>گذرواژه با موفقیت تغییر یافت</title>
</head>
<body>
    <center class="myFont">
        <p>گذرواژه با موفقیت تغییر یافت</p>
        <p>هم اکنون میتوانید با گذرواژه جدید خود وارد وبسایت شوید</p>
        <a href="{% url 'login' %}" style="color: red;font-weight: bold">ورود</a>
    </center>
</body>
</html>