{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %}عملیات با موفقیت انجام شد{% endblock %}{% endblock %}

{% block main %}
    <!-- left column -->
    <div class="col-md-8 text-center">
        <!-- general form elements -->
        <div class="card card-success mx-auto">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر کلمه عبور</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body py-4">
                    <p class="py-2">گذرواژه با موفقیت تغییر یافت</p>
            </div>
        </div>
    </div>
{% endblock %}