{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}پروفایل کاربری{% endblock %}{% endblock %}

{% block main %}
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            <label>گذرواژه :</label>
                            <a href="{% url 'password_change' %}"><span>برای تغییر گذرواژه کلیک کنید</span></a>
                        </div>
                        <div class="col-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.special_user|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.is_author|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">ویرایش اطلاعات</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}