{% load static %}
{% load base_tags %}
{% load gravatar %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'registration/adminlte/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text">وبلاگ جنگویی</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% gravatar_url user.email 150 %}"
                     class="img-circle elevation-2" alt="{{ user.email}}">
            </div>
            <div class="info">
                {% if user.get_full_name %}
                    <a href="{% url 'account:profile' %}" class="d-block">{{ user.get_full_name }}</a>
                {% else %}
                    <a href="{% url 'account:profile' %}" class="d-block">{{ user.username }}</a>
                {% endif %}
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if user.is_superuser or user.is_author %}
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                مقالات
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                {% link request 'home' 'لیست مقالات' 'fa-list' %}
                            </li>
                            <li class="nav-item">
                                {% link request 'article-create' 'افزودن مقاله' 'fa-edit' %}
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% link request 'profile' 'پروفایل' 'fa-th' %}
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>