@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

body{
  text-align: right !important;
  direction: rtl !important;
  font-family: Sahel !important;
}

.myFont, focus-input100:after{
  font-family: Sahel !important;
}

.btn-show-pass{
  right: initial;
  left: 0 !important;
}