{% extends 'base.html' %}{%block main%}
<!-- Page Header -->
{% load static %}
<header
  class="masthead"
  style="background-image: url('{%static "blog/img/home-bg.jpg"%}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>بلاگنو</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3 class="alert alert-primary text-center">دسته بندی: {{category.title}}</h3>
      {% for article in articles %}
      <div class="post-preview">
        <a href="{% url 'blog:article' article.slug %}">
          <h2 class="post-title">
            {{article.title}}
          </h2>
          <h3 class="post-subtitle">
            {{ article.description|truncatewords:30 }}
          </h3>
        </a>
        <p class="post-meta">
          نویسنده:
          <a href="#">امیرحسین</a>
          {{article.jpublish}}
        </p>
        <div>
          {% for cat in article.category_published.all %}
          <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}&nbsp;</a>
          {% endfor %}
        </div>
      </div>
      <hr />
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix pager-button">
        {% if articles.has_previous %}
        <a class="btn btn-primary float-right ml-3" href="{% url 'blog:category' category.slug articles.previous_page_number %}">پست های جدید &rarr;</a>
        {% endif %}
        {% if articles.has_next %}
        <a class="btn btn-primary float-right" href="{% url 'blog:category' category.slug articles.next_page_number %}">پست های قدیمی &larr;</a>
        {% endif %}
      </div>
  </div>
</div>
{%endblock%}